.Carousel {
    display: flex;
    justify-content: center;
    height: 500px;
    .parent_box {
        position: relative;
        width: 900px;
        overflow: hidden;

        .point_list {
            display: flex;
            position: absolute;
            left: 45%;
            bottom: 10px;
            cursor: pointer;
            z-index: 2;
        }
        .scroll_box {
            display: flex;
            height: 100%;
            position: absolute;
            transform: translate3d(0, 0, 0);
            transition-duration: 1s;
            transition-property: all;
            transition-timing-function: ease;

            .scroll_item {
                min-width: 900px;
                justify-content: center;
                display: flex;
            }
        }

        .buttonLeft,
        .buttonRight {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            align-items: center;
        }
        .buttonRight {
            right: 0;
            cursor: pointer;
        }
        .buttonLeft {
            left: 0;
            cursor: pointer;
        }
    }
}
