{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 150,
    "editor.wordWrap": "bounded",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        }
    ],
    "eslintIntegration": true,
    "stylelintIntegration": true,
    "tabWidth": 4,
    "semi": false
}
