.name_icon {
    display: flex;
    flex-direction: row;
    height: 40px;
    line-height: 40px;

    .name {
        display: flex;
        align-items: center;
    }

    .icon {
        margin-left: 12px;
        .cm-img-01 {
            width: 20px;
            height: 20px;
        }
    }
}

.menu_selected {
    background-color: #e6f7ff;
    color: #1890ff;
}
